/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables CSS */
:root {
  --foreground-rgb: 0, 0, 0; /* Color del text */
  --background-start-rgb: 214, 219, 220; /* Color de fons */
  --background-end-rgb: 255, 255, 255; /* Color de fons */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; 
    --background-start-rgb: 0, 0, 0; 
    --background-end-rgb: 0, 0, 0; 
  }
}

/* Estils generals del cos del document */
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*, *::before, *::after {
    box-sizing: inherit;
}
html, body {
    margin: 0;
    width: 100%;
    color: hsl(var(--text-primary));
    font-family: var(--font-main);
    background-color: hsl(var(--background));
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
